@use 'sass:color';
@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.main-header {
  background-color: $color-dark;
  color: $color-white;
  padding: $spacing-md 0;
  border-bottom: $border-width-base solid color.adjust($color-dark, $lightness: 10%);

  .container {
    @include flex-align(center);
    justify-content: space-between;
  }
}

.main-header__logo {
  font-family: $font-family-heading;
  font-size: $h3-font-size;
  font-weight: bold;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.main-nav__list {
  @include flex-align(center);
}

.main-nav__item {
  margin-left: $spacing-lg;

  a {
    color: $color-light;
    font-size: $font-size-base;
    padding: $spacing-xs 0;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}